<mat-toolbar class="toolbar">
  <button mat-icon-button routerLink="/">
    <mat-icon class="iconSize">home</mat-icon>
  </button>
  <button mat-icon-button routerLink="/Favorites">
    <mat-icon class="iconSize">star_border</mat-icon>
  </button>
  <div
    style="
      text-align: center;
      width: 100%;
      font-size: larger;
      color: rgb(228, 230, 235);
    "
  >
    <span>Pokemon</span>
  </div>

  <button mat-icon-button (click)="play()" *ngIf="!this.playM">
    <mat-icon class="iconSize">play_arrow</mat-icon>
  </button>
  <button mat-icon-button (click)="pause()" *ngIf="this.playM">
    <mat-icon class="iconSize">pause</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
