<br />

<h1 style="text-align: center; color: rgb(228, 230, 235)">Pokedex</h1>

<div *ngIf="this.Pokemons.length !== 151" class="uploader-status">
  <mat-spinner></mat-spinner>
</div>

<div class="card-wrapper" *ngIf="this.Pokemons.length === 151">
  <mat-card class="card" *ngFor="let poke of pageSlice">
    <button
      mat-icon-button
      (click)="fav(poke)"
      [style.color]="poke.isSelected ? '#3DA2DA' : '#e4e6eb'"
    >
      <mat-icon>star_border</mat-icon>
    </button>
    <div (click)="this.cardDetails(poke)">
      <img
        mat-card-image
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
          poke.id
        }}.png"
        alt="pokemon"
      />
      <div style="text-align: center">
        <mat-card-title
          style="color: rgb(228, 230, 235); text-transform: capitalize"
          >{{ poke.name }}</mat-card-title
        >
      </div>
    </div>
  </mat-card>
</div>

<mat-paginator
  [length]="this.Pokemons.length"
  [pageSize]="20"
  [pageSizeOptions]="[8, 20, 80, 151]"
  (page)="this.onPageChange($event)"
></mat-paginator>
